/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
  background: #f2f2f2;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

h1 {
  margin: 0;
  padding: 0;
}
form input {
  font-family: inherit;
}
form button {
  font-family: inherit;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Хедер */

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation-logo {
  display: block;
  z-index: 1;
  width: 140px;
  margin-left: 70px;
  margin-bottom: -10px;
}

/*Навигация */

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  min-height: 65px;
  margin: 0 auto;
  padding: 0;
}
.navigation-user {
  margin-left: auto;
  margin-right: 70px;
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 600px;
  margin: 0;
  margin-left: 36px;
  padding: 0;
  list-style-type: none;
}
.navigation-user {
  -webkit-box-pack: right;
  -ms-flex-pack: right;
  justify-content: right;
  margin-right: 58px;
}

.navigation-user .navigation-link {
  max-width: 18px;
  max-height: 18px;
}

.navigation-link:hover {
  opacity: 0.6;
}
.navigation-link .nvigaton-item:focus,
.navigation-link:active {
  opacity: 0.2;
}

.nvigaton-item {
  margin-right: auto;
}

.navigation-user .navigation-item:nth-child(1) .navigation-link {
  display: block;
  background-image: url("../images/header/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 8px;
}

.navigation-user .navigation-item:nth-child(2) .navigation-link {
  display: block;
  position: relative;
  background-image: url("../images/header/favorite.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 25px;
}

.link-favorite-amount {
  position: absolute;
  background-color: #7db54f;
  border-radius: 50%;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
  left: 21px;
  color: #ffffff;
  padding: 3px 5px;
  letter-spacing: -0.1em;
  margin-top: -19px;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 19px 12px;
  padding-right: 22px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.navigation-link-current::before {
  position: absolute;
  width: 68px;
  left: 10px;
  right: 305px;
  top: 62px;
  height: 0px;
  border: 1px solid #756257;
  background-color: #756257;
  content: "";
}

.navigation-link-hotels-current::before {
  position: absolute;
  width: 91px;
  top: 63px;
  height: 0px;
  border: 1px solid #756257;
  background-color: #756257;
  content: "";
}

.button {
  display: inline-block;
  padding: 8px 15px;
  background-color: #756157;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.button-navigation {
  display: inline-block;
  width: 160px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background: #756157;
  text-decoration: none;
  border-radius: 4px;
  text-transform: uppercase;
  margin-right: 11px;
}

.button:hover {
  background: #615048;
}

.button:focus {
  background: #615048;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background: #756157;
}

.button:disabled {
  background: #e5e5e5;
}

.button:disabled:hover {
  background: #e5e5e5;
  outline: none;
  cursor: default;
}

/*Основная страница*/

.main-container {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

/* Промо */

.index-background {
  position: relative;
  width: 1200px;
  height: 485px;
  color: #000000;
  background-image: url("../images/main/hero/index-background.jpg");
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.index-background::after {
  position: absolute;
  width: 100%;
  height: 57px;
  background-image: url("../images/main/hero/mask-for-hero.svg");
  bottom: 0;
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
}

.main-welcome {
  display: block;
  margin: 0 auto;
  padding-top: 52px;
  margin-bottom: 8px;
}

.main-to-the-gorgeus {
  display: block;
  margin: 0 auto;
  margin-bottom: 53px;
}

.main-sedona {
  display: block;
  margin: 0 auto;
  padding-bottom: 26px;
}

.adventages-sedona {
  color: #000000;
  background-color: #ffffff;
}

.hero-adventages-heading {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding-top: 63px;
  padding-bottom: 32px;
}

.hero-adventages-text {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 22px;
  line-height: 23px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  margin: 0;
  padding-bottom: 90px;
}

/*Приемущества белый текст на голубом фоне*/

.adventages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.adventages-list {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
}
.adventages-item--small {
  width: 230px;
}

.adventages-background {
  color: #ffffff;
  background-color: #82b3d3;
}

.adventages-text {
  padding: 89px 85px;
}

.adventages-title {
  width: 230px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  padding-top: 4px;
  padding-bottom: 27px;
}

.adventages-symbol {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  width: 230px;
}

.adventages-description {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  width: 230px;
  margin: 0;
  padding-top: 27px;
}

/*Особенности */

.adventages-features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  text-align: center;
  color: #000000;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: rgba(131, 179, 211, 0.12);
}

.adventages-features-item {
  margin: 0;
  padding: 80px 85px;
}

.adventages-features-item:nth-child(2n) {
  color: #000000;
  background-color: #ffffff;
  margin: 0;
  padding: 80px 85px;
}

.features-icon {
  padding-bottom: 24px;
}

.features-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  width: 230px;
  height: 28px;
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 28px;
}

.features-description {
  flex-wrap: wrap;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  width: 230px;
  min-height: 63px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  margin: 0;
  padding: 0;
}

/*приемущества маленькие*/

.adventages-item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
  padding: 104px 85px;
  background-color: rgba(131, 179, 211, 0.12);
}

.adventages-item--small:nth-of-type(2n) {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.2);
  margin: 0;
  padding: 104px 85px;
}

.adventages-title-black {
  width: 230px;
  height: 56px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding-bottom: 30px;
}
.adventages-symbol-black {
  width: 230px;
  height: 22px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: #000000;
}

.adventages-description-black {
  width: 230px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: #333333;
  margin: 0;
  padding-top: 28px;
}

/*Поиск гостиницы*/

.Search-hotel {
  width: 1200px;
  height: 414px;
}

.Search-hotel-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding-top: 87px;
  padding-bottom: 28px;
}

.Search-hotel-description {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  margin: 0;
  padding-bottom: 56px;
}

.button-hotel-search {
  display: block;
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;
  color: #ffffff;
  width: 574px;
  padding: 12px 15px;
  background: #756157;
  border-radius: 4px;
  border: none;
  margin-bottom: 90px;
  cursor: pointer;
}

/*Подписка на рассылку*/

.subscription {
  display: block;
  width: 1200px;
  height: 411px;
  margin: 0 auto;
  color: #000000;
  background-image: url("../images/main/background.jpg");
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}

.subscription-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 94px;
  padding-bottom: 28px;
  margin: 0;
}

.subscription-description {
  width: 475px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  padding-bottom: 46px;
}

.subscription-form {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 0;
}

.subscription-email {
  outline: none;
  border: none;
  width: 556px;
  height: 21px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  padding: 18px 20px 18px;
  margin-right: -5px;
  border-radius: 10px 0px 0px 10px;
}

.subscription-form input:focus {
  box-shadow: 0px 0px 0px 2px #81b3d2;
}

.subscription-button {
  font-size: 20px;
  line-height: 36px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  width: 200px;
  height: 60px;
  background-color: #82b3d3;
  border-radius: 0px 10px 10px 0px;
  border: none;
  cursor: pointer;
  padding: 0;
}

.subscription-button:hover {
  background: #68a2ca;
}

.subscription-button:focus {
  background: #68a2ca;
}

.subscription-button:active {
  color: rgba(255, 255, 255, 0.3);
  background: #82b3d3;
}

.subscription-button:disabled {
  background: #e5e5e5;
}

.subscription-button:disabled:hover {
  background: #e5e5e5;
  outline: none;
  cursor: default;
}

/*Подвал основной страницы*/

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1209px;
  margin: 0 auto;
}

.footer-social {
  width: 198px;
  padding-top: 55px;
  padding-left: 88px;
  padding-bottom: 48px;
}

.footer-contacts-phone {
  display: inline-block;
  max-width: 400px;
  margin-left: 250px;
  margin-right: 236px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  width: 331px;
  padding-top: 44px;
  padding-bottom: 35px;
}
.footer-contacts-phone:hover {
  color: #756157;
}

.footer-contacts-phone:focus {
  color: #756157;
}

.footer-contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-logo {
  display: inline-block;
  width: 115px;
  height: 34px;
  margin-left: auto;
  padding-top: 48px;
  padding-bottom: 38px;
  padding-right: 75px;
  color: #000000;
}

.footer-logo-ico:hover {
  color: #756157;
}
.footer-logo-ico:focus {
  color: #756157;
}

.footer-logo-ico:active {
  color: rgba(117, 97, 87, 0.3);
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Открытие и закрытие модального окна*/

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  background: #ffffff;
  -webkit-box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-search {
  width: 715px;
}

/*modal-close-button*/

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 0;
  right: 0;
  width: 53px;
  height: 53px;
  background-color: #f2f2f2;
  border-radius: 50%;
  border: none;
  background-image: url("../images/modal/modal-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin-top: 80px;
  margin-right: 70px;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  background-color: #e6e6e6;
  border: 3px solid #83b3d3;
}

.modal-close-button:active {
  opacity: 0.3;
}

/*modal-title*/

.modal-title {
  margin: 86px 111px 62px 68px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

/*modal-form-content*/

.search-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 577px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.title-search {
  width: 158px;
  padding-right: 20px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 26px;
  text-transform: capitalize;
  color: #000000;
}

.search-item input {
  display: block;
  width: 420px;
  height: 45px;
  padding-left: 19px;
  padding-right: 42px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #000000;
  border: none;
  background: #f2f2f2;
  background-image: url("../images/modal/modal-calendar.svg");
  background-repeat: no-repeat;
  background-position: center right 15px;
  border: 3px solid transparent;
  border-radius: 4px;
}

.search-item input:hover {
  background-color: #e6e6e6;
}

.search-item input:focus {
  border-color: #83b3d3;
  outline: none;
}

.search-item input:focus:not(:-moz-placeholder-shown) {
  border-color: #000000;
}

.search-item input:focus:not(:-ms-input-placeholder) {
  border-color: #000000;
}

.search-item input:focus:not(:placeholder-shown) {
  border-color: #000000;
}

/* Скрыты по умолчанию ошибка и корректный водд */

.error-date-arrival {
  width: 400px;
  margin: auto 255px;
  margin-bottom: 6px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  color: #ff5757;
  visibility: hidden;
}

.correct-date-arrival {
  width: 400px;
  margin: auto 255px;
  margin-bottom: 10px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  color: #333333;
  visibility: hidden;
}

.quantity-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 577px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.title-quantity-icon {
  position: relative;
}

.quantity-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 135px;
  height: 50px;
  margin: 0;
}

.quantity-item:nth-child(2) {
  position: relative;
}

/*tooltip*/

.tooltip {
  position: absolute;
  margin-left: 54px;
  height: 54px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #83b3d3;
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
}

.tooltip-icon {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 15px;
  height: 15px;
  color: #ffffff;
  display: block;
  margin: auto;
}

.tooltip-toggle:hover .tooltip-icon {
  color: #ffffff;
}

.tooltip-text {
  background-color: #242424;
  color: #ffffff;
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
  text-transform: none;
  padding: 5px 8px;
  border-radius: 8px;
  display: block;
  width: 160px;
  position: absolute;
  top: 100%;
  margin-bottom: 6px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1;
  display: none;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text:after {
  content: "";
  background-image: url("../images/modal/modal-corner.svg");
  width: 20px;
  height: 6px;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.title-quantity {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: capitalize;
  color: #000000;
  margin-right: 20px;
}
.title-quantity-icon {
  margin-left: 56px;
  margin-right: 42px;
}

/*button quantity*/

.button-quantity {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 133px;
  height: 50px;
  background: #f2f2f2;
  border-radius: 4px;
  margin-left: 25px;
}

.button-quantity-children {
  margin-left: 20px;
}

.button-quantity button {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 25px;
  height: 25px;
  border: none;
  background: transparent;
  border: 3px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.3;
}
.button-quantity button:hover {
  opacity: 1;
}
.button-quantity button:focus {
  border-color: #83b3d3;
  outline: none;
}
.button-quantity button:active {
  border-color: transparent;
  opacity: 0.2;
}

.button-quantity input {
  display: block;
  width: 38px;
  height: 48px;
  background-color: #f2f2f2;
  text-align: center;
  border: none;
  background: transparent;
}

.minus {
  position: relative;
}

.minus::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 13px;
  height: 1px;
  background-color: #a9a9a9;
}

.plus {
  position: relative;
}

.plus::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 13px;
  height: 1px;
  background-color: #a9a9a9;
}

.plus::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 13px;
  height: 1px;
  background-color: #a9a9a9;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.search-button {
  display: block;
  width: 575px;
  height: 60px;
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  background: #83b3d3;
  border-radius: 10px;
  color: #ffffff;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-bottom: 70px;
}

.search-button:hover {
  background: #68a2ca;
}

.search-button:focus {
  background: #68a2ca;
  border: 3px solid #756257;
  border-radius: 10px;
}

.search-button:active {
  background-color: #68a2ca;
  border: 3px solid #ffffff;
  color: #ffffff;
  opacity: 0.3;
}

/*Страница Каталога*/

.filter-background {
  flex-wrap: wrap;
  width: 1200px;
  min-height: 403px;
  margin: 0 auto;
  color: #000000;
  background-image: url("../images/catalog/filtres/filtr-catalog.jpg");
  background-color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
}

/*Фильтр каталога*/

.inner-filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.inner-filtres-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  width: 495px;
  height: 78px;
  margin-left: 70px;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ffffff;
  margin: 0;
  padding: 0;
  padding-top: 35px;
  margin-left: 70px;
  margin-bottom: 10px;
}

.filtres-breadcrambs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 110px;
  margin: 0;
  margin-left: 72px;
  padding: 0;
  list-style-type: none;
  margin-bottom: 40px;
  background-image: url("../images/catalog/catalog-arrow/arrow-breadcrambs.svg");
  background-repeat: no-repeat;
  background-size: 6px 8px;
  background-position: center left 22px;
}

.filtres-breadcrambs-item {
  width: 110px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
}

.Home-ico {
  padding-right: 10px;
  cursor: pointer;
}

.breadcrambs-link {
  color: inherit;
  text-decoration: none;
}

.breadcrambs-link-hotels {
  width: 72px;
  padding-left: 10px;
  cursor: pointer;
}

.breadcrambs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrambs-link:focus {
  color: #ffffff;
}

.breadcrambs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

/*Чекбокс*/

.catalog-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}

.left-catalog-filter {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 150px 70px 150px;
  grid-template-columns: 150px 150px;
  gap: 70px;
  margin: 0 176px 0 70px;
}

.right-catalog-filter {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 288px 70px 160px;
  grid-template-columns: 288px 160px;
  gap: 70px;
  margin-right: 70px;
}
.catalog-filter-group {
  padding: 0;
  width: 220px;
  border: none;
}

.group-type {
  margin-right: 176px;
}

.catalog-filter-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-transform: capitalize;
  color: #ffffff;
  margin-bottom: 28px;
  margin-left: -4px;
}

.catalog-filter-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-left: -1px;
}

.catalog-filter-item {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 15px;
  color: #ffffff;
}

.filter-item-last {
  padding: 0;
  margin: 0;
}

/*Control*/

.control {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  font-weight: 400;
  color: #ffffff;
  padding-left: 40px;
}

/*Mark*/

.control-mark {
  position: absolute;
  top: 1px;
  left: -2px;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background: #ffffff;
}
.control-input[type="checkbox"]:checked + .control-mark {
  position: absolute;
  width: 12px;
  height: 10px;
  background-image: url("../images/catalog/filtres/cheked.svg");
  background-repeat: no-repeat;
  background-position: center left 5px;
  top: 1px;
  left: -2px;
  width: 20px;
  height: 20px;
  border-radius: 4px;
}

.control:hover .control-mark {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
}

.control-input:focus + .control-mark {
  background: rgba(255, 255, 255, 0.6);
  outline: 3px solid #83b3d3;
}

.control-input:disabled + .control-mark {
  background: #ffffff;
}

/*probe*/
.control-radio {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  font-weight: 400;
  color: #ffffff;
  padding-left: 40px;
}

.control-mark-radio {
  position: absolute;
  top: 1px;
  left: -2px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ffffff;
}
.control-input-radio[type="radio"]:checked + .control-mark-radio {
  position: absolute;
  width: 12px;
  height: 10px;
  background-image: url("../images/catalog/filtres/Ellipse-chaked.svg");
  background-repeat: no-repeat;
  background-position: center center;
  top: 1px;
  left: -2px;
  width: 20px;
  height: 20px;
}

.control-radio:hover .control-mark-radio {
  background: rgba(255, 255, 255, 0.6);
}

.control-input-radio:focus + .control-mark-radio {
  background: rgba(255, 255, 255, 0.6);
  outline: 3px solid #83b3d3;
}

.control-inpu-radio:disabled + .control-mark-radio {
  background: #ffffff;
}

/*Label*/

.control-label {
  width: 62px;
  font-weight: 400;
}

.catalog-filter-price {
  padding: 0;
  margin: 0;
  width: 288px;
  height: 148px;
  border: none;
}

.filter-price-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  color: #ffffff;
  padding-inline: 0;
  border: none;
  margin-left: -4px;
}

/*Range*/

.range-scale {
  position: relative;
  height: 4px;
  margin-top: 29px;
  margin-left: -5px;
  border: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.range-toggle:focus {
  background: #ffffff;
  border: 3px solid #83b3d3;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  outline: none;
}

.range-toggle:active {
  background: #ffffff;
  border: 2px solid #83b3d3;
  -webkit-box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

/*range input*/

.range-wrapper-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 32px;
  margin-left: -10px;
}

.catalog-filter-label {
  position: relative;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.input-left:hover,
.input-right:hover {
  opacity: 0.6;
}
.input-left:focus,
.input-right:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 0px 3px #81b3d2;
  box-shadow: 0px 0px 0px 3px #81b3d2;
  z-index: 1;
}

.input-left:active:not(:placeholder-shown),
.input-right:active:not(:placeholder-shown) {
  background: #756257;
}

.range-input {
  width: 122px;
  padding: 13px 0 9px;
  font: inherit;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.input-left {
  border-radius: 4px 0 0 4px;
  padding-left: 16px;
}

.input-right {
  border-radius: 0 4px 4px 0;
  padding-left: 17px;
}

.input-title-left {
  position: absolute;
  right: 14px;
  bottom: 14px;
  opacity: 0.3;
}
.input-title-right {
  position: absolute;
  right: 15px;
  bottom: 13px;
  opacity: 0.3;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.filter-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.catalog-filter-button {
  display: inline-block;
  width: 160px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  height: 48px;
  border-radius: 4px;
  padding: 11px 15px;
  margin-top: 60px;
  margin-bottom: -4px;
  margin-left: -4px;
}

.catalog-filter-button:hover {
  background: #68a2ca;
}

.catalog-filter-button:focus {
  background: #68a2ca;
}

.catalog-filter-button:active {
  background: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.catalog-filter-buttonn:disabled {
  background: #e5e5e5;
}

.catalog-filter-button:disabled:hover {
  background: #e5e5e5;
  outline: none;
  cursor: default;
}

.button-reset {
  width: 160px;
  padding: 5px 30px;
  border: 0;
  margin-top: 15px;
  /*прозрачный фон кнопки для "Сбросить"*/
  background-color: rgba(28, 28, 28, 0);
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  border: 3px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  margin-left: -4px;
}

.button-reset:hover {
  color: #ffffff;
  opacity: 0.6;
}

.button-reset:focus {
  color: #ffffff;
}

.button-reset:active {
  color: #ffffff;
  border-color: #83b3d3;
  opacity: 0.3;
}

/*Гостиниц найдено*/

.result-filtres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.result-filtres-sort-icon {
  width: 160px;
  margin: 0;
  padding: 50px 70px 56px;
}
.result-filtres-sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.result-amont-found-hotels {
  width: 338px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  padding: 63px 192px 81px 72px;
  margin: 0;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  width: 290px;
  height: 50px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  margin-top: 54px;
  margin-right: 78px;
  padding: 14px 97px 14px 18px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("../images/catalog/catalog-arrow/list-arrow\ .svg");
  background-repeat: no-repeat;
  background-size: 12px 8px;
  background-position: center right 20px;
}

.select-control:hover {
  border: 2px solid #82b3d3;
}

.select-control:focus {
  outline: none;
  border: 2px solid #68a2ca;
}

.select-control:active {
  outline: none;
  border: 2px solid #3f5e72;
}

.select-control:disabled {
  background: #e5e5e5;
  color: rgba(0, 0, 0, 0.3);
}

.select-control:disabled:hover {
  background: #e5e5e5;
  outline: none;
  cursor: default;
}

.card-grid-togle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  margin-right: 8px;
  margin-top: 54px;
  background: #ffffff;
}

.card-grid-togle-current {
  outline: none;
  border: 2px solid #000000;
}

.card-grid-togle:hover {
  border: 2px solid #000000;
}
.card-grid-togle:focus {
  outline: none;
  border: 2px solid #68a2ca;
}
.card-grid-togle:active {
  border: 2px solid #000000;
}

/*Карточки отелей*/

.hotel-card-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 340px 18px 340px 18px 340px;
  grid-template-columns: repeat(3, 340px);
  padding: 0;
  margin: 0;
  margin-bottom: 82px;
  margin-left: 92px;
  -webkit-column-gap: 18px;
  -moz-column-gap: 18px;
  column-gap: 18px;
  row-gap: 38px;
}

.hotel-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 140px 16px 140px;
  grid-template-columns: repeat(2, 140px);
  gap: 16px;
}
.hotel-card-link {
  grid-column: 1 / -1;
  text-decoration: none;
  width: 300px;
}

.hotel-card-image {
  -o-object-fit: contain;
  object-fit: contain;
  margin-bottom: 12px;
}

.hotel-card-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  margin: 0;
}

.hotel-card-type {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  width: 140px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #333333;
  padding: 0;
  margin: 0;
}

.hotel-card-price {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  width: 140px;
  height: 22px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  color: #333333;
  margin-left: 3px;
}

.hotel-card-button-more {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background: #756157;
  border-radius: 4px;
}

.button-favorites {
  width: 144px;
  height: 36px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 4px;
  margin-left: 3px;
}

.button-favorites:hover {
  background: #68a2ca;
}

.button-favorites:focus {
  background: #68a2ca;
}

.button-favorites:active {
  background: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  background: #e5e5e5;
}

.button:disabled:hover {
  background: #e5e5e5;
  outline: none;
  cursor: default;
}

.favorites-current {
  width: 140px;
  height: 37px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 4px;
}
.hotel-one-stars {
  grid-column: -3 /-2;
  background-image: url("../images/catalog/hotel-cards/Stars-Rating.svg");
  background-size: 18px;
  background-repeat: space;
  width: 35px;
  -ms-grid-row-align: center;
  align-self: center;
  padding: 10px 0px;
}
.hotel-two-stars {
  grid-column: -3 /-2;
  background-image: url("../images/catalog/hotel-cards/Stars-Rating.svg");
  background-size: 18px;
  background-repeat: space;
  width: 42px;
  -ms-grid-row-align: center;
  align-self: center;
  padding: 10px 0px;
}
.hotel-three-stars {
  grid-column: -3 /-2;
  background-image: url("../images/catalog/hotel-cards/Stars-Rating.svg");
  background-size: 18px;
  background-repeat: space;
  width: 66px;
  -ms-grid-row-align: center;
  align-self: center;
  padding: 10px 0px;
}
.hotel-four-stars {
  grid-column: -3 /-2;
  background-image: url("../images/catalog/hotel-cards/Stars-Rating.svg");
  background-size: 18px;
  background-repeat: space;
  width: 89px;
  -ms-grid-row-align: center;
  align-self: center;
  padding: 10px 0px;
}
.hotel-five-stars {
  grid-column: -3 /-2;
  background-image: url("../images/catalog/hotel-cards/Stars-Rating.svg");
  background-size: 18px;
  background-repeat: space;
  width: 35px;
  -ms-grid-row-align: center;
  align-self: center;
  padding: 10px 0px;
}

.hotel-card-rate {
  grid-column: -2 /-1;
  display: inline-block;
  width: 100px;
  height: 21px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
  padding: 8px 24px;
  border-radius: 4px;
}

/*Дивидер*/

.divider-6 {
  margin: 0 auto;
  width: 1055px;
  top: 1097px;
  left: 1128px;
  border: 1px solid #e6e6e6;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* Пагинация и количество отелей на странице*/

.pagination-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 1049px;
  padding-bottom: 25px;
  padding-top: 30px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item {
  width: 60px;
  height: 60px;
  margin-right: 7px;
}

.pagination-item:nth-child(6) {
  margin: 0;
}

.pagination-link {
  display: block;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 60px;
  font-weight: 700;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #82b3d3;
  border-radius: 4px;
  cursor: pointer;
}

.pagination-current {
  background-color: #f2f2f2;
  color: #000000;
}
.pagination-link:hover {
  background: #68a2ca;
}

.pagination-link:focus {
  background: #68a2ca;
}

.pagination-link:active {
  background: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.amount-cards {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  width: 175px;
  height: 22px;
  margin-left: auto;
  color: #333333;
  padding-top: 20px;
}

.select-amount-cards {
  width: 10px;
  height: 21px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  width: 160px;
  height: 48px;
  margin-right: -4px;
  margin-left: 51px;
  margin-top: 7px;
  padding: 12px 100px 12px 16px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("../images/catalog/catalog-arrow/list-arrow\ .svg");
  background-repeat: no-repeat;
  background-size: 12px 8px;
  background-position: center right 17px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  outline: none;
}

.select-amount-cards:hover {
  border: 2px solid #82b3d3;
}

.select-amount-cards:focus {
  outline: none;
  border: 2px solid #68a2ca;
}

.select-amount-cards:active {
  outline: none;
  border: 2px solid #3f5e72;
}

.select-amount-cards:disabled {
  background: #e5e5e5;
  color: rgba(0, 0, 0, 0.3);
}

.select-amount-cards:disabled:hover {
  background: #e5e5e5;
  outline: none;
  cursor: default;
}

/*подписка на странице каталога*/

.inner-subscription {
  display: block;
  width: 1200px;
  height: 411px;
  margin: 0 auto;
  color: #000000;
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}

.inner-subscription-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding-top: 94px;
  padding-bottom: 30px;
}

.inner-subscription-description {
  width: 475px;
  height: 52px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  margin: 0 auto;
  padding-bottom: 46px;
}

.inner-subscription-form {
  display: block;
  margin: 0 auto;
  text-align: center;
  -ms-flex-line-pack: center;
  align-content: center;

  padding: 0;
}

.inner-subscription-email {
  outline: none;
  border: none;
  width: 556px;
  height: 21px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  padding: 18px 20px 18px;
  margin-right: -5px;
  border-radius: 10px 0px 0px 10px;
  background-color: #f2f2f2;
}

.inner-subscription-form input:focus {
  box-shadow: 0px 0px 0px 2px #81b3d2;
}
/*Подвал*/

.footer-social-item {
  width: 22px;
  height: 16px;
  margin-right: 23px;
}
.footer-social-ico {
  color: #83b3d3;
}
.footer-social-ico:hover {
  color: #68a2ca;
}

.footer-social-ico:focus {
  color: #68a2ca;
  outline: none;
}

.footer-social-ico:active {
  color: rgba(104, 162, 202, 0.3);
}

.footer-social-ico:disabled:hover {
  background: #e5e5e5;
  outline: none;
  cursor: default;
}
.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.footer-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
