@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
}

form input {
  font-family: inherit;
}
form button {
  font-family: inherit;
}
.visually-hidden {
  visibility: hidden;
}

/* Хедер */

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation-logo {
  display: block;
  width: 139px;
  margin: 0 auto;
}

/*Навигация */

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}
.navigation-list {
  display: flex;
  align-self: center;
  width: 490px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link:not(last-child) {
  margin-left: 34px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navigation-user {
  max-width: 300px;
  margin-left: auto;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: left;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.button {
  background-color: #756157;
  font-family: inherit;
}

.button-navigation {
  display: inline-block;
  width: 130px;
  height: 20px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  padding: 9px 15px 8px 15px;
  margin-left: 140px;
  text-transform: uppercase;
}

/*Основная страница*/

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

/* Промо */

.main-welcome {
  display: block;
  margin: 0 auto;
}

.main-to-the-gorgeus {
  display: block;
  margin: 0 auto;
}

.main-sedona {
  display: block;
  margin: 0 auto;
}

.hero-adventages-heading {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  text-align: center;
}

.hero-adventages-text {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding: 0;
  text-align: center;
}

/*Приемущества белый текст на черном*/

.adventages {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.adventages-background {
  background-color: #82b3d3;
}

.adventages-title {
  color: #ffffff;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
}

.adventages-symbol {
  color: #ffffff;
  font-weight: 400;
  text-align: center;
}

.adventages-description {
  color: #ffffff;
  font-weight: 400;
  text-align: center;
}
.adventages-list {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #ffffff;
}

/*Особенности */

.adventages-features-list {
  display: flex;
  width: 1200px;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #000000;
  list-style-type: none;
}

.features-title {
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.features-description {
  color: #333333;
  font-weight: 400;
  text-align: center;
}

/*приемузества черный текст на белом*/

.adventages-black {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #000000;
}

.adventages-three {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #000000;
  width: 400px;
}
.adventages-four {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #000000;
  width: 400px;
}
.adventages-five {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #000000;
  width: 400px;
}

/*Поиск гостиницы*/

.button-hotel-search {
  display: block;
  margin: 0 auto;
}

.index-background {
  color: #000000;
  background-image: url("../images/main/hero/index-background.jpg");
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

/*Особенности черное на белом фоне*/

.adventages-title-black {
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.adventages-description-black {
  color: #333333;
  font-weight: 400;
  text-align: center;
}

.adventages-symbol-black {
  color: #000000;
  font-weight: 400;
  display: block;
  text-align: center;
}

.Search-hotel-title {
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.Search-hotel-description {
  color: #000000;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}

.button-hotel-search {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

/*Подписка на рассылку*/

.subscription {
  display: block;
  width: 1200px;
  height: 411px;
  margin: 0 auto;
  color: #000000;
  background-image: url("../images/main/background.jpg");
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscription-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.subscription-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}

.subscription-form {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.subscription-button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #82b3d3;
}

/*Подвал основной страницы*/

.footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.footer-social {
  max-width: 150px;
  margin-right: auto;
}

.footer-contacts-phone {
  display: inline-block;
  max-width: 400px;
  margin-left: 250px;
  margin-right: 236px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  text-decoration: none;
  width: 331px;
}

.footer-logo {
  display: inline-block;
  max-width: 150px;
  margin-left: auto;
}

/*Страница Каталога*/

.main-inner {
  width: 1200px;
  margin: 0 auto;
  color: #000000;
  background-image: url("../images/catalog/filtr-cataog.jpg");
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

/*Фильтр каталога*/
.inner-filters {
  display: flex;
  margin: 0;
  padding: 0;
}
.inner-filtres-title {
  width: 495px;
  margin-left: 70px;
  font-size: 60px;
  font-weight: 700;
  color: #ffffff;
}

.filtres-breadcrambs-link {
  text-decoration: none;
}

.filtres-breadcrambs {
  list-style-type: none;
}

.filtres-breadcrambs-item {
  margin-left: 110px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
}

/*Чекбокс*/

.catalog-filter-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.catalog-filter {
  display: flex;
  padding: 0;
  margin: 0;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
}
.control {
  font-weight: 400;
  color: #ffffff;
}

.catalog-filter-group {
  margin-right: 70px;
  width: 220px;
  border: none;
}

.group-type {
  margin-right: 176px;
}

.catalog-filter-price {
  width: 288px;
  margin-right: 70px;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.catalog-filter-button {
  margin-right: 70px;
  width: 161px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #82b3d3;
  display: inline-block;
  height: 48px;
  border-radius: 4px;
  padding: 14px 15px;
  text-transform: uppercase;
}

.button-reset {
  width: 66;
  padding: 0;
  margin-right: 70px;
  border: 0;
  /*прозрачный фон кнопки для "Сбросить"*/
  background-color: rgba(28, 28, 28, 0);
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}

/*Гостиниц найдено*/
.result-filtres {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.result-filtres-sort {
  display: flex;
}

.result-amont-found-hotels {
  width: 338px;
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.select-control {
  width: 290px;
}

.icon-sort {
  text-decoration: none;
}

/*Карточки отелей*/

.hotel-card-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.hotel-card {
  width: 340px;
  height: 438px;
  margin-left: 18px;
}

.hotel-card-title {
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-type {
  font-weight: 400;
  color: #333333;
}

.button-favorites {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #82b3d3;
}

.favorites-current {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #7db54f;
}

.hotel-card-button-more {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.hotel-card-rate {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  background-color: #f2f2f2;
}

/* Пагинация и количество отелей на странице*/

.pagination-info {
  display: flex;
}

.pagination {
  display: flex;
  list-style-type: none;
}

.pagination-link {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin-right: 8px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #82b3d3;
  border-radius: 4px;
  padding: 12px 25px 12px 25px;
}

.pagination-current {
  background-color: #f2f2f2;
  color: #000000;
}

.amount-cards {
  color: #333333;
  font-weight: 400;
  width: 175px;
  margin-left: auto;
  margin-right: 51px;
}

.select-amount-cards {
  width: 160px;
  height: 49px;
}

/*подписка на странице каталога*/
.inner-subscription {
  display: block;
  width: 1200px;
  height: 411px;
  margin: 0 auto;
  color: #000000;
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.inner-subscription-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.inner-subscription-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #000000;
}
.inner-subscription {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.inner-subscription-button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  background-color: #82b3d3;
}

/*Подвал*/

.footer-social-list {
  list-style-type: none;
}
.footer-social-button {
  text-decoration: none;
}
